div {
    input[type="text"] {
        margin: 16px;
        padding: 0.2em;
        font-size: 1.4rem;
        border-radius: 0.4rem;
        border: none;
        outline: 1px solid black;
        transition: outline ease-in 100ms;
    }

    input[type="text"]:focus {
        border-color: white;
        outline: 4px solid black;
    }
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}